.treatment-steps {
  .ant-steps-item {
    padding: 5px 2px;
    border: 0;
    font-size: 12px;
    color: #233151;
    border-radius: 22px;
    cursor: pointer;
  }

  .ant-steps-item-wait {
    background-color: #f9f9f9;
  }

  .ant-steps {
    margin-top: 10px;
  }

  .treatment-name-col {
    vertical-align: middle;
    margin-top: 16px;
    min-width: 80px;
    font-size: 11px;
  }
  .step-col {
    display: inline-flex;
  }
  .ant-steps-small .ant-steps-item-title {
    font-size: 1em;
    &::after {
      display: none;
    }
  }

  .ant-steps-item-icon {
    display: none;
  }
  .sep-line {
    &::after {
      margin-top: 16px;
      display: inline-block;
      height: 1px;
      background: #e8e8e8;
      content: '';
      width: 10px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .sep-line-default {
    &::after {
      background-color: #bebfcb;
    }
  }
  .sep-line-active {
    &::after {
      background-color: #1890ff;
    }
  }

  .ant-steps-item-content {
    .ant-steps-item-title {
      color: #233151 !important;
    }
    &::before {
      content: '';
      height: 20px;
      width: 20px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      background-size: 100%;
      background-image: url(https://cgt-dev-ft.microsysx.com/images/v2/icons/circle.svg);
    }
  }
  .dead {
    .ant-steps-item {
      background: #fafbb6;
    }
    .ant-steps-item-content {
      &::before {
        content: '';
        background-image: url(https://cgt-dev-ft.microsysx.com/images/v2/icons/circle.svg) !important;
      }
    }
  }
  .ant-steps-item-finish {
    background: #d1f2dc;
    .ant-steps-item-content {
      &::before {
        background-image: url(https://cgt-dev-ft.microsysx.com/images/v2/icons/status-done-circle-background.svg);
      }
    }
  }
  .ant-steps-item-active {
    background-color: #f2f5fb;
    .ant-steps-item-content {
      &::before {
        background-image: url(https://cgt-dev-ft.microsysx.com/images/v2/icons/circle-active.svg);
      }
    }
  }

  .treatmentName {
    font-size: 14px;
    padding-top: 10px;
    min-width: 59px;
    padding-right: 2px;
  }
  .btn-view-timeline {
    background-color: #3869d1;
    color: white;
    border-radius: 22%;
    margin-left: 10px;
    display: inline-block;
    height: 30px;
    font-size: 12px;
    margin-top: 12px;
    vertical-align: text-bottom;
  }
}

.view-screen {
  .ant-timeline-item-content {
    margin-left: 30px;
  }
  .step-bar {
    border: 1px solid #1bb558;
    padding: 10px;
    border-radius: $default-radius;
    .left {
      .step-title {
        display: block;
        font-size: 1.24em;
      }
      .date-time {
        font-size: 16px;
      }
    }
    .right {
      text-align: right;
      display: block;
    }
  }
  .ant-tabs-tabpane-active {
    padding: 5px;
  }
  .ant-timeline {
    .anticon {
      font-size: 25px !important;
    }
  }

  .ant-tabs-content {
    margin-left: 3px;
  }
}
